@import '~mdb-ui-kit/css/mdb.min.css';

.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fade:not(.show) {
   opacity: 1 !important;
}

.tasks-left, .deleteBtn {
  --mdb-nav-tabs-link-font-weight: 500;
    --mdb-nav-tabs-link-font-size: 12px;
    --mdb-nav-tabs-link-color: rgba(0,0,0,0.55);
    --mdb-nav-tabs-link-padding-top: 17px;
    --mdb-nav-tabs-link-padding-bottom: 16px;
    --mdb-nav-tabs-link-padding-x: 29px;
    --mdb-nav-tabs-link-hover-bgc: #f7f7f7;
    --mdb-nav-tabs-link-border-bottom-width: 2px;
    --mdb-nav-tabs-link-active-color: #3b71ca;
    --mdb-nav-tabs-link-active-border-color: #3b71ca;
    border-width: 0;
    border-bottom: var(--mdb-nav-tabs-link-border-bottom-width) solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    line-height: 1;
    font-weight: var(--mdb-nav-tabs-link-font-weight);
    font-size: var(--mdb-nav-tabs-link-font-size);
    color: var(--mdb-nav-tabs-link-color);
    background-color: transparent;
    padding: 16px 15px 16px;
}

.deleteBtn:hover {
  background-color: var(--mdb-nav-tabs-link-hover-bgc);
  border-color: transparent;
}

.nav-tabs {
  margin-bottom: 0px !important;
}


h1 {
  display: flex;
  justify-content: center;
  --mdb-nav-tabs-link-font-weight: 500;
  font-size: 90px;    
  color: var(--mdb-nav-tabs-link-color);
  opacity: 0.5;
  padding: 0;
}

.form-outline {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.form-label {
  background: white;
}